html,
body {
    height: 100%;
    width: 100%;
}

.panel,
.panel-body {
    background: rgba(255, 255, 255, .5);
}

#iconcont {
    left: 50px;
    top: -180px;
    position: relative;
    transform: scale(1, 1);
    height: 100px;
    width: 100px;
    z-index: -100;
}

.icon-part {
    position: absolute;
    width: 0px;
    height: 0px;
}

#icon-top {
    position: absolute;
    left: -42.5px;
    top: -38px;
    border: 42.5px solid transparent;
    border-bottom: 35px solid rgb(121, 43, 255);
    z-index: 100;
}

#icon-top:after {
    content: '';
    position: absolute;
    left: -42.5px;
    top: 33px;
    width: 0;
    height: 0;
    border: 42.5px solid transparent;
    border-top: 35px solid rgb(121, 43, 255);
}

#spinny {
    animation: none;
}

#roll-butt:hover #spinny {
    animation: spin 1s linear infinite;
}

#icon-top-bg {
    position: absolute;
    border: 47.5px solid transparent;
    border-bottom: 39px solid #5500d4;
    z-index: 90;
}

#icon-top-bg:after {
    content: '';
    position: absolute;
    left: -47.5px;
    top: 38px;
    width: 0;
    height: 0;
    border: 47.5px solid transparent;
    border-top: 39px solid #5500d4;
}

#icon-bot {
    position: absolute;
    left: -75px;
    top: -71px;
    border: 75px solid transparent;
    border-bottom: 73px solid rgb(121, 43, 255);
    z-index: 80;
}

#icon-bot:after {
    content: '';
    position: absolute;
    left: -75px;
    top: 72px;
    width: 0;
    height: 0;
    border: 75px solid transparent;
    border-top: 73px solid rgb(121, 43, 255);
}

#icon-bot-bg {
    position: absolute;
    left: -30px;
    border: 80px solid transparent;
    border-bottom: 77px solid #5500d4;
    z-index: 70;
}

#icon-bot-bg:after {
    content: '';
    position: absolute;
    left: -80px;
    top: 76px;
    width: 0;
    height: 0;
    border: 80px solid transparent;
    border-top: 77px solid #5500d4;
}

.filled-ac {
    padding: 4px;
    background: linear-gradient(175deg, rgba(124, 43, 255, .4) 0%, rgba(198, 163, 255, .4) 100%);
}

@keyframes spin {
    from {
        transform:rotateZ(0deg);
    }
    to {
        transform:rotateZ(360deg);
    }
}
